---
import { Image } from "astro:assets";
import HeroImage from "../assets/landscaping.webp"

---
<div class="p-4 text-gray-800">
    <Image class="h-96 rounded-md overflow-hidden shadow-md" src={HeroImage} alt="lanscaping-image"  quality="mid" loading="eager"/>
    <div class="p-4 text-center">
        <h1 class="text-4xl my-2 md:text-6xl font-black tracking-tight">Your landscaping needs <span class="text-green-700 underline">end</span> here.</h1>
        <p class="my-2 ">Expert <span class="font-semibold">Garden Construction</span> and <span class="font-semibold">Landscaping Services</span> in Wembley</p>
        <a id="contact-us-button" class="inline-block my-2 px-8 py-4 font-medium text-white bg-green-700 rounded hover:bg-green-600 hover:shadow-lg transition duration-200">Contact Us</a>
        <div class="text-lg font-semibold">Ph: 07423 512753</div>
    </div>
</div>
<script>
    const contactUsButton = document.getElementById("contact-us-button");
    contactUsButton?.addEventListener("click", () => {
        document.getElementById('how-to-contact-us')?.scrollIntoView({ behavior: 'smooth' });
    });
</script>
