<div id="how-we-work" class="my-4 p-4 md:px-16">
    <h2 class="my-2 px-4 text-3xl md:text-4xl font-extrabold text-center tracking-tight">How we <span class="text-green-700 underline">work.</span></h2>
    <ul class="my-2 px-4 list-disc text-pretty md:hidden">
        <li>We create our initial designs using sketches and garden drawings.</li>
        <li>All landscaping and gardening projects are completed by us as we never employ any sub-contractors.</li>
        <li>We pride ourselves on the quality of our work and our persistent attention to detail.</li>
        <li>We always use the finest materials, the latest equipment and the time-proven skills which have been developed over the years by our experienced landscape gardeners.</li>
    </ul>
    <div class="flex">
        <ul class="my-2 px-4 flex-1 hidden md:block list-disc text-pretty text-xl">
            <li>We create our initial designs using sketches and garden drawings.</li>
            <li>We always use the finest materials, the latest equipment and the time-proven skills which have been developed over the years by our experienced landscape gardeners.</li>
            
        </ul>
        <ul class="my-2 px-4 flex-1 hidden md:block list-disc text-pretty text-xl">
            <li>We pride ourselves on the quality of our work and our persistent attention to detail.</li>
            <li>All landscaping and gardening projects are completed by us as we never employ any sub-contractors.</li>
        </ul>
    </div>
</div>