---
import { Image } from "astro:assets";
import TestimonialImage1 from "../assets/testimonial1.jpeg"
import TestimonialImage2 from "../assets/testimonial2.jpeg"
---

<div id="what-our-customers-say" class="p-4 my-4 flex flex-col items-center text-gray-800">
    <h3 class="my-2 text-3xl font-extrabold text-center tracking-tight">What our <span class="text-green-600 underline">customers</span> say.</h3>
    <div class="my-2 flex flex-col items-center shadow-gray-300 rounded-md">
        <Image class="my-2 rounded-md overflow-hidden shadow-md" src={TestimonialImage1} alt="testimonial-image" quality={10}/>
        <p class="my-2 px-4 text-center text-balance">I have to say .... how impressed I was by not only the work they did but their attention to detail to ensure that the end result was more than I expected. These guys are the best of the best and go the extra mile to make customers happy. Extremely friendly, courteous and never demanded money like other tradesmen. Goof honest landscapers that enjoy what they do and thrive on clients happiness!! 1000000% recommended.</p>
        <p class="text-lg font-semibold italic">- Tony Musso</p>
    </div>

    <div class="my-2 flex flex-col items-center shadow-gray-300 rounded-md">
        <Image class="my-2 rounded-md overflow-hidden shadow-md" src={TestimonialImage2} alt="testimonial-image" quality={10}/>
        <p class="my-2 px-4 text-center text-balance">Tony and his team were fantastic. From getting a quote to handing over the job was 3 and a half weeks. I would definitely recommend working with Tony for any planned garden project. We are already planning our next project with him for later this year.</p>
        <p class="text-lg font-semibold italic">- Simon Farrow</p>
    </div>

    <a class="inline-block object-center my-2 px-8 py-4 font-medium text-white bg-green-600 rounded hover:bg-green-500 hover:shadow-lg transition duration-200" href="https://www.google.com/maps/place/Tony+Landscape+%26+Building+Services+Ltd+-+Garden+Construction,+Patio+and+Paving+Wembley/@51.5733905,-0.2612944,19z/data=!4m18!1m9!3m8!1s0x487611123f43a5d3:0xf07579624cdceeef!2sTony+Landscape+%26+Building+Services+Ltd+-+Garden+Construction,+Patio+and+Paving+Wembley!8m2!3d51.5733897!4d-0.2606507!9m1!1b1!16s%2Fg%2F11hfbm50xn!3m7!1s0x487611123f43a5d3:0xf07579624cdceeef!8m2!3d51.5733897!4d-0.2606507!9m1!1b1!16s%2Fg%2F11hfbm50xn?entry=ttu" >Read More Testimonials</a>
</div>